body{
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

.main_header{
    background-color: #ffffff;
    position: relative;
}

.main_background{
    background-image: image(papyrus.png);
    margin-top: 150px;
}

.name_tag_div{
    background-color: #4aaaa5;
    float: left;
}

h1{
    font-family: 'Georgia', Times, Times New Roman, serif;
}

.h1_about_me{
    color: #4aaaa5
}

p{
    color: #777777;
}

.name_tag_h1{
    color: #ffffff;
}

.link{
    color: #777777;
    float: left;

}

.about_me{
    color: #4aaaa5;
}

.image{
    float: left;
    padding: 15px;;
}

.paragraph{
    background-color: #ffffff;
}

.footer{
    background-color: #666666;
}